body {
    background-color: #000;
}

.container-fluid {
    padding: 0;
    position: relative;
}

@media (max-width: 800px) {
    /*.container-fluid {*/
        /*padding: 0 3%;*/
    /*}*/
}

@media (min-width: 801px) {
    /*.container-fluid {*/
        /*padding: 0 15%;*/
    /*}*/
}

ul, ol, dl {
    list-style-type: none;
    padding-left: 0;
    font-size: 1rem;
}

.intro-content {
    padding-top: 110px;
}

.intro-content img {
    height: calc(100vh - 110px - 58px);
}

.intro_img {
    color: #fff;
    text-align: left;
}

.intro {
    position: absolute;
    left: 18.5%;
    top: 39%;
    color: #fff;
}

.intro a {
    position: relative;
    display: block;
    margin: 0 0 20px 260px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    background: rgba(65, 149, 214, .5);
    color: #fff;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
}

.intro a:after {
    position: absolute;
    bottom: -20px;
    left: 45%;
    content: '';
    width: 0;
    height: 0;
    opacity: .5;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #4296d6;
}

.intro a:hover {
    text-decoration: none;
    color: #000;
}

.intro h4 {
    font-size: 22px;
    opacity: .5;
}

.intro p {
    margin: 0;
    opacity: .5;
}

/*.intro_img {*/
    /*background-image: url(/images/buyer/contact.jpg);*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*width: 100%;*/
    /*height: 35rem;*/
/*}*/

/*.intro {*/
    /*background: #000;*/
    /*color: #fff;*/
    /*opacity: .5;*/
    /*text-align: left;*/
    /*padding: 5% 0 5% 5%;*/
    /*text-align: justify;*/
    /*font-size: 20px;*/
    /*font-family: 'Oswald';*/
    /*font-weight: 400;*/
    /*line-height: 1.5;*/
    /*letter-spacing: 0.3px;*/
    /*font-style: normal;*/
/*}*/

/*.intro_img {*/
    /*background-image: url(/images/buyer/contact.jpg);*/
    /*background-size: cover;*/
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

/*.intro {*/
    /*color: #000;*/
    /*padding: 210px 0 20px;*/
    /*text-align: justify;*/
    /*font-size: 20px;*/
    /*font-family: 'Oswald';*/
    /*font-weight: 400;*/
    /*line-height: 1.5;*/
    /*letter-spacing: 0.3px;*/
    /*font-style: normal;*/
/*}*/

/*.button-line a:hover {*/
    /*text-decoration: none;*/
/*}*/

footer {
    background-color: #282a2b;
    padding: 10px 0;
    font-size: .8rem;
    color: #fff;
    text-align: center;
}

.navbar .navbar-menu-wrapper .navbar-nav .nav-item .nav-link.active {
    line-height: 104px;
}

.navbar .navbar-brand-wrapper .brand-logo-mini img {
    width: 80px;
}

.select2-container {
    width: 100%!important;
}
